{% extends "base.html" %}
{% block links %}
    <ul>
        <li><a href="{{ url_for('unos_artikla') }}">Unesi artikal</a></li>
    </ul>
{% endblock %}
{% block content %}
{% if artikli|length >0 %}
    <table>
      <tr>
        <th>Oznaka</th>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Cena</th>
        <th>Na akciji</th>
        <th>Kategorije</th>
        <th>Prodavnica</th>
        <th>Izmena</th>
        <th>Brisanje</th>
      </tr>
    {% for a in artikli %}
      <tr>
        <td>{{a.oznaka}}</td>
        <td>{{a.naziv}}</td>
        <td>{{a.opis}}</td>
        <td>{{a.cena}}</td>
        <td>{{a.na_akciji}}</td>
        <td>{% for k in a.kategorije %}
                {{k.naziv}}
            {% endfor %}
        </td>
        <td>{{a.prodavnica.naziv}}</td>
        <td><a href="{{ url_for('unos_artikla',oznaka=a.oznaka) }}" >Izmeni</a> </td>
        <td><a href="{{ url_for('brisanje_artikla',oznaka=a.oznaka) }}">Obrisi</a></td>
      </tr>
    {% endfor %}
    </table>
{% else %}
   <p>Nema prodavnica za prikaz</p>
{% endif %}
{% endblock %}