{% extends "base.html" %}
{% block content %}
<h1 >Unesite vrednosti za artikal:</h1>
    <form method="post" action="{{ url_for('unos_artikla') }}">
        <table>
        <tr><td>Oznaka:</td>
            <td>
                <input type="text" name="oznaka" value="{{ oznaka }}" /></td>
            <td>
                {% if greska_oznaka %}
                <div class="greska" >{{greska_oznaka}}</div>
                {% endif %}
            </td>
        </tr>
        <tr><td>Naziv:</td>
            <td>
               <input type="text" name="naziv" value="{{ naziv }}"></td>
            <td>
                {% if greska_naziv %}
                <div class="greska" >{{greska_naziv}}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Opis:</td>
            <td>
               <input type="text" name="opis" value="{{ opis }}">
            </td>
            <td>
                {% if greska_opis %}
                <div class="greska" >{{greska_opis}}</div>
                {% endif %}
            </td>
        </tr>
        <tr><td>Cena:</td>
            <td>
               <input type="text" name="cena" value="{{ cena }}">
            </td>
            <td>
                {% if greska_cena %}
                <div class="greska" >{{greska_cena}}</div>
                {% endif %}
            </td>
        </tr>
        <tr><td>Na akciji:</td>
            <td>
                <input type="checkbox" name="na_akciji" value="True"
                       {% if na_akciji %}
                             checked
                       {% endif %}
                />
            </td>
            <td>
                {% if greska_na_akciji %}
                <div class="greska" >{{greska_na_akciji}}</div>
                {% endif %}
            </td>
        </tr>


        <tr><td>Kategorije:</td>
        <td>
            <select multiple name="kategorije">
                {% for k in lista_kategorija %}
                    <option value="{{ k.oznaka }}"
                       {% if kategorije %}
                           {% for k_i in kategorije %}
                               {% if k_i.oznaka == k.oznaka %}
                                    selected
                               {% endif %}
                            {% endfor %}
                       {% endif %}
                    >{{ k.naziv }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            {% if greska_kategorije %}
            <div class="greska" >{{greska_kategorije}}</div>
            {% endif %}
        </td>
        </tr>
        <tr><td>Prodavnica:</td>
            <td>
                <select name="prodavnica">
                    {% for p in prodavnice %}
                        <option value="{{ p.pib }}"
                           {% if prodavnica %}
                               {% if p.pib == prodavnica.pib %}
                                    selected
                               {% endif %}
                           {% endif %}
                        >{{ p.naziv }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                {% if greska_prodavnica %}
                <div class="greska" >{{greska_prodavnica}}</div>
                {% endif %}
            </td>
        </tr>
        {% if stara_oznaka %}
        <tr><td>
            <input type="hidden" name="stara_oznaka" value="{{ stara_oznaka }}"/>
        </td></tr>

        {% endif %}
        <tr>
            <td><input type="submit" value="Unesi"/></td>
        </tr>
        </table>
    </form>
{% endblock %}